// show animation
@keyframes show {
  from {
    // animation
    transform: translateY(30%);

    // other
    opacity: 0;
  }
  to {
    // animation
    transform: none;

    // other
    opacity: 1;
  }
}

// show button animation
@keyframes showBtn {
  from {
    // other
    opacity: 0;
  }
  to {
    // other
    opacity: 1;
  }
}
