.movie {
  // position
  @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

  // size
  margin-bottom: 10vh;

  // .movie__container
  &__container {
    // position
    position: relative;
    display: flex;

    // size
    width: 100vw;
  }

  // .movie__controls
  &__controls {
    // position
    @include abs("", "", 0, "");

    // size
    height: 25%;
    width: 100%;

    // background
    background-color: rgba(0, 0, 0, 0.6);

    // other
    display: none;

    // .movie__controls:hover
    &:hover {
      // other
      display: block;
    }
  }

  // .movie__cover
  &__cover {
    // position
    @include abs(0, 0);

    // size
    width: 100%;
    height: 100%;

    // background
    background-color: rgba(0, 0, 0, 0.6);

    // animation
    transform: translateY(10vh);
    transition: 0.2s ease-in-out;

    // other
    opacity: 0;
  }

  &__description {
    // size
    max-width: 80%;
    margin-bottom: 15%;

    // font
    text-align: center;
    font-size: 15px;

    // animation
    transform: translateY(10vh);
    transition: 0.2s ease-in-out;

    // other
    opacity: 0;
  }

  // .movie__expand
  &__expand {
    // position
    @include abs(50%, "", "", 3%);

    // font
    color: white;

    // animation
    transform: translateY(-50%);

    // other
    cursor: pointer;
  }

  // .movie__play
  &__play {
    // position
    @include abs(50%, 50%);

    // size
    border: 1px solid white;
    border-radius: 50%;
    padding: 10%;

    // font
    color: white;
    font-size: 24px;

    // animation
    transform: translate(-50%, -50%);

    // other
    cursor: pointer;
  }

  // .movie__pause
  &__pause {
    // position
    @include abs(50%, 50%);

    // font
    color: white;
    font-size: 19px;

    // animation
    transform: translate(-50%, -50%);

    // other
    cursor: pointer;
  }

  // .movie__progress
  &__progress {
    // position
    @include abs(0, 0);
    position: relative;

    // size
    width: 100%;
    height: 5px;

    // background
    background-color: #ccc;

    // .movie__progress_bar
    &_bar {
      // position
      @include abs(-2px, -3px);

      // size
      width: 100%;
      height: 100%;

      // animation
      transition: 0.1s ease-in-out;

      // other
      cursor: grab;
    }
  }

  // .movie__volume, .movie__volume_xmark
  &__volume,
  &__volume_xmark {
    // position
    @include abs(50%, 3%);

    // font
    color: white;

    // animation
    transform: translateY(-50%);

    // other
    cursor: pointer;
  }

  // .movie__time
  &__time {
    // position
    @include abs(50%, 13%); // 7

    // font
    color: white;
    font-size: 13px;

    // animation
    transform: translateY(-50%);
  }

  // .movie__title
  &__title {
    // position
    position: relative;

    // size
    flex-basis: fit-content;
    margin-bottom: 6.5%; //1.5

    // font
    text-align: center;
    font-weight: 700;
    font-size: 23px;

    // animation
    transform: translateY(10vh);
    transition: 0.2s ease-in-out;

    // other
    cursor: normal;
    opacity: 0;

    // .movie__title::after
    &::after {
      // position
      @include abs(-20%, -5%);

      // size
      content: "";
      width: 20%;
      height: 140%;

      // background
      background-color: rgba(0, 0, 0, 0.2);

      // animation
      transition: 0.2s ease-in-out;
    }

    // .movie__title:hover::after
    &:hover::after {
      // size
      width: 110% !important;
    }
  }

  // .movie__video
  &__video {
    // size
    width: 100%;

    // animation
    transform: translateY(10vh);
    transition: 0.2s ease-in-out;

    // other
    opacity: 0;

    // .movie__video:hover + .movie__controls
    &:hover + .movie__controls {
      // other
      display: block;
    }
  }
}

// media orientation portrait
@media (orientation: portrait) {
  // .fullscreen > .movie__controls
  .fullscreen > .movie__controls {
    // size
    height: 7%;
  }
}

// media min-width 375px
@media (min-width: 375px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 20%;
    }
  }
}

// media min-width 425px
@media (min-width: 425px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 18%;
    }
  }
}

// media min-width 768px
@media (min-width: 768px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 12%;
    }

    // .movie__description
    &__description {
      // size
      padding-left: 20%;
      padding-right: 20%;
      margin-bottom: 5%;

      // font
      font-size: 16px;
    }

    // .movie__time
    &__time {
      // position
      left: 9%;
    }

    // .movie__play
    &__play {
      // size
      padding: 5%;
    }

    // .movie__title
    &__title {
      // size
      margin-bottom: 1.5%;
    }
  }
}

// media min-width 1024px
@media (min-width: 1024px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 8%;
    }
  }

  // .fullscreen > .movie__controls
  .fullscreen > .movie__controls {
    // size
    height: 6.5%;
  }
}

// media min-width 1440px
@media (min-width: 1440px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 7%;
    }
  }
}

// media min-width 1700px
@media (min-width: 1700px) {
  // .movie
  .movie {
    // .movie__time
    &__time {
      // position
      left: 7%;
    }
  }

  // .fullscreen > .movie__controls
  .fullscreen > .movie__controls {
    // size
    height: 5%;
  }
}

// media orientation portrait and min-width 768px
@media (orientation: portrait) and (min-width: 768px) {
  // .fullscreen > .movie__controls
  .fullscreen > .movie__controls {
    // size
    height: 4%;
  }
}
