// imported other styles
@import "@/styles/_variables.scss";

// .menu
.menu {
  // position
  @include flexContainer(row, no-wrap, flex-start, center, flex-start, auto, 0);
  display: none;

  // size
  width: 100vw;

  // font
  color: #000;

  // animation
  animation: showMenu 0.4s 0.2s ease-in-out forwards;

  // other
  opacity: 0;

  // .menu__item
  &__item {
    // position
    position: relative;
    z-index: 1;

    // size
    padding: 5px 15px;

    // other
    overflow: hidden;
    cursor: pointer;

    // .menu__item::before
    &::before {
      // position
      @include abs(50%, 0);
      z-index: -1;

      // size
      content: "";
      width: 100%;
      height: 50%;

      // background
      background-color: $main-color;

      // animation
      transform: translateX(-101%);
      transition: 0.2s ease-in-out;
    }

    // .menu__item::after
    &::after {
      // position
      @include abs(0, 0);
      z-index: -1;

      // size
      content: "";
      width: 100%;
      height: 50%;

      // background
      background-color: $main-color;

      // animation
      transform: translateX(101%);
      transition: 0.2s ease-in-out;
    }

    // .menu__item:hover::after, .menu__item:hover::before
    &:hover::after,
    &:hover::before {
      // animation
      transform: none;
    }
  }

  // .menu__link
  &__link {
    // size
    width: 100%;
    height: 100%;

    // font
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
  }

  // .menu__list_items
  &__list_items {
    // position
    display: flex;
    justify-content: center;
    gap: 4%;

    // size
    width: 70%;
  }
}

// animation show menu
@keyframes showMenu {
  from {
    // other
    opacity: 0;
  }
  to {
    // other
    opacity: 1;
  }
}

// media min-width 1025px
@media (min-width: 1025px) {
  // .menu
  .menu {
    // position
    display: flex;
  }
}
