@import "./contact/_contact.scss";

// .footer
.footer {
  // position
  @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

  // .footer__content
  &__content {
    // position
    @include flexContainer(row, nowrap, center, center, flex-start, auto, 0);

    // size
    flex-basis: 100%;
    padding: 2% 0;
    margin-top: 7%;

    // background
    background-color: $main-color;
  }

  // .footer__text
  &__text {
    // size
    max-width: 80%;

    // font
    color: #fff;
    font-weight: 700;
    text-align: center;
  }
}
