@import "../../styles/_variables.scss";
@import "./_animations.scss";

$size-rectangle: calc((37vh + 37vw) / 2);
$top-rectangle: calc((120vw + 120vh) / 2);

.rectangle {
  @include abs($top-rectangle, 26vw);
  width: $size-rectangle;
  height: $size-rectangle;
  transform: rotate(45deg);
  border: 2px solid #00000030;
  z-index: -1;
  opacity: 0;
  transition: 0.2s linear;
  animation: showRectangle 0.5s 0.9s ease-in-out forwards;
}

@media (orientation: landscape) {
  .rectangle {
    @include abs(85vh, 40%);
  }
}
