.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;

  &__img {
    position: relative;
    width: 85vw;
    height: 20vh;
    margin-top: 2vh;

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        top: 5%;
        left: 5%;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        z-index: -1;
      }
    }

    &_cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    width: 85%;

    &--green {
      color: #2a9d8f;
    }
  }
}

@media (min-width: 320px) {
  .header {
    &__title {
      font-size: 22.5px;
    }
  }
}

@media (min-width: 375px) {
  .header {
    &__title {
      font-size: 26px;
    }
  }
}

@media (min-width: 425px) {
  .header {
    &__img {
      height: 25vh;
    }

    &__title {
      font-size: 30px;
    }
  }
}

@media (min-width: 668px) {
  .header {
    &__title {
      font-size: 42px;
    }
    &__img {
      height: 40vh;
    }
  }
}

@media (min-width: 900px) {
  .header {
    &__title {
      font-size: 44px;
    }
    &__img {
      height: 45vh;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__img {
      width: 40vw;
      height: 40vh;
    }
    &__title {
      width: 52%;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__title {
      width: 45%;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    &__title {
      width: 44.5%;
      font-size: 54px;
    }
  }
}

@media (min-width: 1770px) {
  .header {
    &__title {
      width: 41.5%;
      font-size: 54px;
    }
  }
}
