.burger {
  position: relative;
  @include flexContainer(
    row,
    wrap,
    flex-start,
    center,
    space-between,
    auto,
    5px
  );
  width: 14vw;
  margin-right: 10%;
  overflow: hidden;
  cursor: pointer;

  &__bar {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: 0.2s ease-in-out;
    border-radius: 6px;

    &_fourth {
      @include abs(45%);
      transform: rotate(45deg) translateX(-200%);
    }

    &_fifth {
      @include abs(35%);
      transform: rotate(-45deg) translateX(200%);
      transition: 0.2s 0.4s ease-in-out;
    }
  }
}
