.modal {
  @include abs(0, 0);
  @include flexContainer(row, no-wrap, center, center, flex-start, auto, 0);
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  opacity: 1;
  transform: translateX(-100%);

  &.active {
    animation: moveModal 0.2s 0.2s ease-in-out forwards;

    & .modal__link {
      animation: showLink 0.3s 0.4s ease-in-out forwards;
    }
  }

  &.disactive {
    animation: moveModalReturn 0.2s ease-in-out;
  }

  &__list_items {
    @include flexContainer(row, wrap, center, center, flex-start, auto, 6%);
    width: 100%;
    height: 45%;
  }

  &__item {
    text-align: center;
    width: 100%;
    height: 10%;
  }

  &__link {
    position: relative;
    top: 100%;
    height: 100%;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    opacity: 0;

    &.active {
      font-weight: bold;
      &::after {
        width: 110%;
      }
    }

    &:hover::after {
      width: 110%;
    }

    &::after {
      content: "";
      @include abs(-10%, -5%);
      width: 30%;
      height: 120%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: width 0.2s ease-in-out;
    }
  }
}
