@media (min-width: 320px) {
  .burger {
    width: 9vw;
  }
}

@media (min-width: 425px) {
  .burger {
    width: 35px;
    margin-right: 2.3%;
  }
}

@media (min-width: 1025px) {
  .collapse {
    display: none !important;
  }
}
