// .navigation
.navigation {
  // position
  @include flexContainer(
    row,
    nowrap,
    space-between,
    center,
    flex-start,
    auto,
    0
  );

  // size
  margin-left: 10vw;
  width: 80vw;

  // animation
  transition: 0.2s ease-in-out;

  // .navigation__arrow
  &__arrow {
    // size
    margin: 0 0.5%;
  }

  // .navigation__arrows
  &__arrows {
    // position
    @include flexContainer(
      row,
      nowrap,
      space-between,
      center,
      flex-start,
      auto,
      2vw
    );

    // other
    cursor: pointer;
  }
}

// .link
.link {
  // position
  position: relative;
  display: block;

  // size
  width: fit-content;
  padding: 4%;

  // font
  text-decoration: none;
  color: #000;
  font-size: 11px;
  font-weight: bold;

  // other
  overflow: hidden;

  // .navigation__link::after
  &::after {
    // position
    @include abs(0, 0);

    // size
    content: "";
    width: 100%;
    height: 100%;

    // background
    background-color: rgba(0, 0, 0, 0.2);

    // animation
    transform: translate(90%, 80%);
    transition: transform 0.2s ease-in-out;
  }

  // .navigation__link:hover::after
  &:hover::after {
    // animation
    transform: none;
  }
}
