// .footer
.footer {
  // position
  @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

  // size
  width: 100vw;
  padding-bottom: 10%;
}

// .contact
.contact {
  // position
  @include flexContainer(row, wrap, space-between, center, flex-start, auto, 0);

  // size
  width: 50%;

  // .contact__input
  &__input {
    // size
    flex-basis: 100%;
    margin-top: 0.5%;
    padding: 3% 1vw;

    // background
    border: 1px solid black;
  }

  &__field {
    position: relative;
    @include flexContainer(row, wrap, flex-start, center, flex-start, auto, 0);

    flex-basis: 100%;
    margin-bottom: 2.5%;

    &_name {
      // position
      @include abs(50%, 0.3vw);

      // size
      padding: 0 1vw;

      // font
      font-weight: 600;

      // background
      background-color: #fff;

      // animation
      transform: translateY(-50%);
      transition: 0.2s ease-in-out;

      &--active {
        top: 0 !important;
        left: 0 !important;
      }
    }

    &--large {
      flex-basis: 100%;

      & .contact__field_name {
        top: 3vh;
      }
    }
  }

  // .contact__title
  &__title {
    // size
    flex-basis: 100%;
    margin-bottom: 5%;

    // font
    font-size: 34px;
    font-weight: 700;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .contact {
    &__field {
      flex-basis: 45%;

      &--large {
        flex-basis: 100%;
      }
    }
  }
}

@media (min-width: 1100px) {
  .contact {
    &__input {
      padding: 3% 1vw;
    }
  }
}
