// .footer
.footer {
  // position
  @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

  // size
  width: 100vw;
  padding-bottom: 30%;
}

// .contact
.contact {
  // position
  position: relative;
  @include flexContainer(row, wrap, space-between, center, flex-start, auto, 0);

  // size
  width: 80%;

  &__container_btn {
    @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

    flex-basis: 100%;
  }

  // .contact__btn
  &__btn {
    // position
    position: relative;
    z-index: 1;

    // size
    width: 50%;
    padding: 1% 0;

    // background
    border: 2px solid black;
    background-color: white;

    // font
    font-weight: bold;

    // animation
    transform: translateY(10vh);
    transition: 0.1s 0.2s ease-in-out;

    // other
    overflow: hidden;
    cursor: pointer;
    opacity: 0;

    // .contact__btn_bar
    &_bar {
      // position
      z-index: -1;

      // size
      width: calc(33.33% + 4px);
      height: calc(100% + 4px);
      padding: 0 4px;

      // background
      background-color: black;

      // animation
      transform: translateY(-100%);
      transition: 0.1s ease-in-out;

      // .contact__btn_bar--first
      &--first {
        // position
        @include abs(0, 0);
      }

      // .contact__btn_bar--second
      &--second {
        // position
        @include abs(0, 33.33%);

        // animation
        transition-delay: 0.1s;
      }

      // .contact__btn_bar--third
      &--third {
        // position
        @include abs(0, 66.66%);

        // animation
        transition-delay: 0.2s;
      }
    }

    // .contact__btn:hover
    &:hover {
      // font
      color: white;
    }

    // .contact__btn span
    &:hover span {
      // animation
      transform: translateY(0);
    }
  }

  // .contact__input
  &__input {
    // size
    flex-basis: 100%;
    padding: 3% 3vw;

    // background
    border: 1px solid black;
  }

  // .contact__field
  &__field {
    // position
    position: relative;
    @include flexContainer(row, wrap, flex-start, center, flex-start, auto, 0);

    // size
    flex-basis: 100%;
    margin-bottom: 5.5%;

    // animation
    transition: 0.2s ease-in-out;
    transform: translateY(10vh);

    // other
    opacity: 0;

    // .contact__field_name
    &_name {
      // position
      @include abs(50%, 3vw);

      // size
      padding: 0 1vw;

      // font
      font-weight: 600;

      // background
      background-color: #fff;

      // animation
      transform: translateY(-50%);
      transition: 0.2s ease-in-out;

      // .contact__field_name--active
      &--active {
        // position
        top: 0 !important;
        left: -0.5% !important;

        // size
        padding-bottom: 1%;
      }
    }

    // .contact__field--active
    &--active {
      // size
      margin-top: 3.5%;
    }

    // .contact__field--large
    &--large {
      // size
      flex-basis: 100%;

      // .contact__field--large .contact__field_name
      & .contact__field_name {
        // position
        top: 40%;
      }
    }
  }

  // .contact__title
  &__title {
    // size
    flex-basis: 100%;
    margin-bottom: 10%;

    // font
    font-size: 34px;
    font-weight: 700;
    text-align: left;

    // animation
    transition: 0.2s ease-in-out;
    transform: translateY(10vh);

    // other
    opacity: 0;
  }
}

// media min-width: 768px
@media (min-width: 768px) {
  // .contact
  .contact {
    // size
    width: 50%;

    // .contact__field
    &__field {
      // .contact__field_name
      &_name {
        // position
        left: 0.6vw;
      }
    }
  }
}

// media min-width: 1024px
@media (min-width: 1024px) {
  // .contact
  .contact {
    // .contact__btn
    &__btn {
      // size
      width: 20%;
    }

    // .contact__field
    &__field {
      // size
      flex-basis: 45%;
      margin-bottom: 2.5%;

      // .contact__field_name
      &_name {
        // position
        left: 0.3vw;
      }

      // .contact__field--active
      &--active {
        // size
        margin-top: 1.5%;
      }

      // .contact__field--large
      &--large {
        // size
        flex-basis: 100%;

        // .contact__field--large .contact__field_name
        & .contact__field_name {
          // position
          top: 35%;
        }
      }
    }

    // .contact__title
    &__title {
      // size
      margin-bottom: 7%;
    }
  }
}

// media min-width: 1100px
@media (min-width: 1100px) {
  // .contact
  .contact {
    // .contact__input
    &__input {
      // size
      padding: 2.2% 1vw;
    }
  }
}
