.movie {
  // position
  @include flexContainer(row, wrap, center, center, flex-start, auto, 0);

  // size
  margin-bottom: 10vh;

  // .movie__container
  &__container {
    // position
    position: relative;
    display: flex;

    // size
    width: 100vw;
  }

  // .movie__controls
  &__controls {
    // position
    @include abs("", "", 0, "");

    // size
    height: 7vh;
    width: 100%;

    // background
    background-color: rgba(0, 0, 0, 0.6);

    // other
    display: none;

    // .movie__controls:hover
    &:hover {
      // other
      display: block;
    }
  }

  // .movie__cover
  &__cover {
    // position
    @include abs(0, 0);

    // size
    width: 100%;
    height: 100%;

    // background
    background-color: rgba(0, 0, 0, 0.6);
  }

  // .movie__expand
  &__expand {
    // position
    @include abs(50%, "", "", 3%);

    // font
    color: white;

    // animation
    transform: translateY(-50%);

    // other
    cursor: pointer;
  }

  // .movie__play
  &__play {
    // position
    @include abs(50%, 50%);

    // size
    border: 1px solid white;
    border-radius: 50%;
    padding: 4%;

    // font
    color: white;
    font-size: 24px;

    // animation
    transform: translate(-50%, -50%);

    // other
    cursor: pointer;
  }

  // .movie__pause
  &__pause {
    // position
    @include abs(50%, 50%);

    // font
    color: white;
    font-size: 19px;

    // animation
    transform: translate(-50%, -50%);

    // other
    cursor: pointer;
  }

  // .movie__progress
  &__progress {
    // position
    @include abs(0, 0);
    position: relative;

    // size
    width: 100%;
    height: 5px;

    // background
    background-color: #ccc;

    // .movie__progress_bar
    &_bar {
      // position
      @include abs(-2px, -3px);

      // size
      width: 100%;
      height: 100%;

      // animation
      transition: 0.1s ease-in-out;

      // other
      cursor: grab;
    }
  }

  // .movie__volume, .movie__volume_xmark
  &__volume,
  &__volume_xmark {
    // position
    @include abs(50%, 3%);

    // font
    color: white;

    // animation
    transform: translateY(-50%);

    // other
    cursor: pointer;
  }

  // .movie__time
  &__time {
    // position
    @include abs(50%, 13%); // 7

    // font
    color: white;
    font-size: 13px;

    // animation
    transform: translateY(-50%);
  }

  // .movie__title
  &__title {
    // size
    flex-basis: 100%;
  }

  // .movie__video
  &__video {
    // size
    width: 100%;

    // .movie__video:hover + .movie__controls
    &:hover + .movie__controls {
      // other
      display: block;
    }
  }
}

// media min-width 1700px
@media (min-width: 1700px) {
  // .movie
  .movie {
    // .movie__controls
    &__controls {
      // size
      height: 5vh;
    }
  }
}
