// variables
$main-color: #2a9d8f;
$second-color: #fff;

// mixin with flexbox
@mixin flexContainer(
  $direction: row,
  $wrap: no-wrap,
  $jc: flex-start,
  $ai: flex-start,
  $ac: flex-start,
  $as: auto,
  $gap: 0
) {
  // size
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $jc;
  align-items: $ai;
  align-content: $ac;
  align-self: $as;
  gap: $gap;
}

// mixin with position absolute with default parameters
@mixin abs($top: "", $left: "", $bottom: "", $right: "") {
  // size
  position: absolute;

  @if $top != "" {
    top: $top;
  }
  @if $left != "" {
    left: $left;
  }
  @if $bottom != "" {
    bottom: $bottom;
  }
  @if $right != "" {
    right: $right;
  }
}
