@media (orientation: portrait) and (min-width: 668px) {
  .header {
    &__btn {
      padding: 15px 0;
    }
  }
}

@media (min-width: 320px) {
  .header {
    &__title {
      font-size: 22.5px;
    }
  }
}

@media (min-width: 375px) {
  .header {
    &__title {
      font-size: 26px;
    }
  }

  .news {
    &__title {
      font-size: 22px;
    }
  }
}

@media (min-width: 425px) {
  .header {
    &__img {
      height: 25vh;
    }

    &__title {
      font-size: 30px;
    }
  }

  .news {
    &__description {
      font-size: 17px;
    }
    &__title {
      font-size: 26px;
    }
  }
}

@media (min-width: 668px) {
  .header {
    &__title {
      font-size: 42px;
    }
    &__img {
      height: 40vh;
    }
  }
}

@media (min-width: 900px) {
  .header {
    &__title {
      font-size: 44px;
    }
    &__img {
      height: 45vh;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &__btn {
      width: 20%;

      &_group {
        width: 80%;
        justify-content: flex-start;
      }
    }
    &__img {
      width: 40vw;
      height: 40vh;
    }
    &__title {
      width: 52%;
    }
  }

  .news {
    margin-top: 40vh;

    &__title {
      font-size: 33px;

      &:hover::after {
        width: 14%;
      }
    }
  }

  .posts {
    &__wrapper {
      width: 200%;
    }
  }

  .post {
    width: 31%;

    &__bcg {
      height: 40vh;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__btn {
      width: 15%;
    }
    &__title {
      width: 45%;
    }
  }
  .news {
    &__description {
      margin-top: 2%;
    }
  }
}

@media (min-width: 1440px) {
  .header {
    &__title {
      width: 44.5%;
      font-size: 54px;
    }
  }
}

@media (min-width: 1770px) {
  .header {
    &__title {
      width: 41.5%;
      font-size: 54px;
    }
  }
}
