.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.logo {
  &__img {
    margin: 2%;
    width: 30%;
  }
}

.burger {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  gap: 5px;
  width: 14vw;
  margin-right: 5%;
  overflow: hidden;
  cursor: pointer;

  &__bar {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: 0.2s ease-in-out;
    border-radius: 6px;

    &_fourth {
      position: absolute;
      top: 45%;
      transform: rotate(45deg) translateX(-200%);
    }

    &_fifth {
      position: absolute;
      top: 35%;
      transform: rotate(-45deg) translateX(200%);
      transition: 0.2s 0.4s ease-in-out;
    }
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  opacity: 1;
  transform: translateX(-100%);

  &.active {
    animation: moveModal 0.2s 0.2s ease-in-out forwards;

    & .modal__link {
      animation: showLink 0.3s 0.4s ease-in-out forwards;
    }
  }

  &.disactive {
    animation: moveModalReturn 0.2s ease-in-out;
  }

  &__list_items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
  }

  &__item {
    text-align: center;
    width: 100%;
    height: 10%;
  }

  &__link {
    position: relative;
    top: 100%;
    height: 100%;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    opacity: 0;

    &.active {
      font-weight: bold;
      &::after {
        width: 110%;
      }
    }

    &:hover::after {
      width: 110%;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10%;
      left: -5%;
      width: 30%;
      height: 120%;
      background-color: rgba(0, 0, 0, 0.3);
      transition: width 0.2s ease-in-out;
    }
  }
}

.active {
  & + .modal {
    transform: translateX(0);
  }

  & .burger__bar {
    animation: moveBurgerBar 0.2s ease-in-out forwards;
  }

  & .burger__bar_first,
  & .burger__bar_third {
    animation-delay: 0.2s;
  }

  & .burger__bar_fourth {
    animation: showCloseBar1 0.2s 0.4s ease-in-out forwards;
  }

  & .burger__bar_fifth {
    animation: showCloseBar2 0.2s 0.4s ease-in-out forwards;
  }
}

.disactive {
  & .burger__bar {
    transform: translateX(100%);
    animation: moveBurgerBarReturn 0.2s 0.2s ease-in-out forwards;
  }

  & .burger__bar_first,
  & .burger__bar_third {
    animation-delay: 0.4s;
  }

  & .burger__bar_fourth {
    animation: showCloseBarReturn1 0.2s ease-in-out forwards;
  }

  & .burger__bar_fifth {
    animation: showCloseBarReturn2 0.2s ease-in-out forwards;
  }
}

// animations on click
@keyframes moveBurgerBar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(130%);
  }
}

@keyframes showCloseBar1 {
  from {
    transform: rotate(45deg) translateX(-200%);
  }
  to {
    transform: rotate(45deg) translateX(0);
  }
}

@keyframes showCloseBar2 {
  from {
    transform: rotate(-45deg) translateX(200%);
  }
  to {
    transform: rotate(-45deg) translateX(0);
  }
}

// animations on click back
@keyframes moveBurgerBarReturn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes showCloseBarReturn1 {
  from {
    transform: rotate(45deg) translateX(0);
  }
  to {
    transform: rotate(45deg) translateX(-200%);
  }
}

@keyframes showCloseBarReturn2 {
  from {
    transform: rotate(-45deg) translateX(0);
  }
  to {
    transform: rotate(-45deg) translateX(200%);
  }
}

@keyframes moveModal {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: none;
  }
}

@keyframes moveModalReturn {
  from {
    transform: none;
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes showLink {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@media (min-width: 320px) {
  .burger {
    width: 9vw;
  }
}

@media (min-width: 425px) {
  .burger {
    width: 35px;
    margin-right: 2.3%;
  }
}
